# ------------------------
# Python
# ------------------------
__pycache__/

# ------------------------
# Jupyter
# ------------------------
.ipynb_checkpoints

# -----------------------
# Figure
# -----------------------
Figure/
